@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  background-image: linear-gradient(19deg, #2156fd 0%, #B721FF 100%);
}

@media (max-width: 640px) {
  #token-address-snippet pre {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
