@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

@media (max-width: 640px) {
  #token-address-snippet pre {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}